.action-button {
  text-align: center;
  width: 290px;
  height: 48px;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
}
@media screen and (min-width: 1400px) {
  .action-button {
    font-size: 18px;
    line-height: 13px;
  }
}
.action-button_blue {
  background-color: #3040c4;
  color: #fff;
}
@media screen and (min-width: 1400px) {
  .action-button_blue {
    width: 160px;
  }
}
.action-button_white {
  background-color: #fff;
  color: #000;
}
@media screen and (min-width: 1400px) {
  .action-button_white {
    width: 158px;
  }
}
.action-button_txt-blue {
  background-color: #fff;
  color: #3040c4;
}
@media screen and (min-width: 1400px) {
  .action-button_txt-blue {
    width: 158px;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-button {
  text-align: center;
  width: 290px;
  height: 48px;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
}
@media screen and (min-width: 1400px) {
  .action-button {
    font-size: 18px;
    line-height: 13px;
  }
}
.action-button_blue {
  background-color: #3040c4;
  color: #fff;
}
@media screen and (min-width: 1400px) {
  .action-button_blue {
    width: 160px;
  }
}
.action-button_white {
  background-color: #fff;
  color: #000;
}
@media screen and (min-width: 1400px) {
  .action-button_white {
    width: 158px;
  }
}
.action-button_txt-blue {
  background-color: #fff;
  color: #3040c4;
}
@media screen and (min-width: 1400px) {
  .action-button_txt-blue {
    width: 158px;
  }
}

.header {
  width: 320px;
  height: 64px;
  display: flex;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 261;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.header-logo__img {
  display: block;
  width: 48px;
  height: 48px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 15px;
  margin: 8px 13px 8px 15px;
}
.header-logo__name {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin-right: 73px;
}
.header-logo__descr {
  display: none;
}

.navigation__item {
  display: none;
}
.navigation__button {
  display: none;
}

.action-button {
  text-align: center;
  width: 290px;
  height: 48px;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
}
@media screen and (min-width: 1400px) {
  .action-button {
    font-size: 18px;
    line-height: 13px;
  }
}
.action-button_blue {
  background-color: #3040c4;
  color: #fff;
}
@media screen and (min-width: 1400px) {
  .action-button_blue {
    width: 160px;
  }
}
.action-button_white {
  background-color: #fff;
  color: #000;
}
@media screen and (min-width: 1400px) {
  .action-button_white {
    width: 158px;
  }
}
.action-button_txt-blue {
  background-color: #fff;
  color: #3040c4;
}
@media screen and (min-width: 1400px) {
  .action-button_txt-blue {
    width: 158px;
  }
}

.audience {
  max-width: 320px;
  background-color: rgba(0, 161, 198, 0.07);
  padding-bottom: 35px;
}
@media screen and (min-width: 1400px) {
  .audience {
    width: 1400px;
    max-width: 1400px;
  }
}
.audience__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.audience__about {
  margin-top: 50px;
  margin-bottom: 17px;
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  text-align: center;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .audience__about {
    width: 168px;
    height: 34px;
    margin: 110px auto 12px auto;
  }
}
.audience__title {
  margin: auto 15px;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.36px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    width: 555px;
    height: 112px;
    margin: 12px auto 15px auto;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.audience__text {
  width: 290px;
  height: 136px;
  margin: 18px auto 30px auto;
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audience__text {
    width: 555px;
    height: 72px;
    margin: 15px auto 10px auto;
  }
}
.audience__buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .audience__buttons-wrapper {
    flex-direction: row;
  }
}

.audience-button_blue {
  margin: 0 auto 12px auto;
}
@media screen and (min-width: 1400px) {
  .audience-button_blue {
    margin: 14px 5px 111px auto;
  }
}
.audience-button_white {
  margin: 0 auto 40px auto;
}
@media screen and (min-width: 1400px) {
  .audience-button_white {
    margin: 14px auto 111px 5px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .cards {
    flex-direction: row;
    margin: 0 131px 75px 130px;
  }
}
.cards__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  width: 290px;
  height: 300px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  margin: 0 15px 15px 15px;
}
@media screen and (min-width: 1400px) {
  .cards__item {
    width: 262px;
    margin: auto;
  }
}
.cards__item:hover {
  background-color: #3141c5;
  color: #fff;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}
.cards__item:hover > .cards__capture {
  color: #fff;
}
.cards__image-container {
  max-height: 195px;
  margin: 22px auto;
}
.cards__image {
  display: block;
  max-width: 100%;
  max-height: 195px;
  margin: 22px auto;
}
.cards__capture {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 33px;
  color: #2b292d;
}

/*# sourceMappingURL=styles.css.map */
