.action-button {
  text-align: center;
  width: 290px;
  height: 48px;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1400px) {
  .action-button {
    font-size: 18px;
    line-height: 13px;
  }
}
.action-button:hover {
  cursor: pointer;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}
.action-button_blue {
  background-color: #3040c4;
  color: #fff;
}
@media screen and (min-width: 1400px) {
  .action-button_blue {
    width: 160px;
  }
}
.action-button_white {
  background-color: #fff;
  color: #000;
}
@media screen and (min-width: 1400px) {
  .action-button_white {
    width: 158px;
  }
}
.action-button_txt-blue {
  background-color: #fff;
  color: #3040c4;
}
@media screen and (min-width: 1400px) {
  .action-button_txt-blue {
    width: 158px;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  height: 100vh;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .top-section {
    width: 1400px;
    background-color: #f3c6bd;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.action-button {
  text-align: center;
  width: 290px;
  height: 48px;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1400px) {
  .action-button {
    font-size: 18px;
    line-height: 13px;
  }
}
.action-button:hover {
  cursor: pointer;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}
.action-button_blue {
  background-color: #3040c4;
  color: #fff;
}
@media screen and (min-width: 1400px) {
  .action-button_blue {
    width: 160px;
  }
}
.action-button_white {
  background-color: #fff;
  color: #000;
}
@media screen and (min-width: 1400px) {
  .action-button_white {
    width: 158px;
  }
}
.action-button_txt-blue {
  background-color: #fff;
  color: #3040c4;
}
@media screen and (min-width: 1400px) {
  .action-button_txt-blue {
    width: 158px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
}
.header__menu-button {
  display: inline-block;
  width: 58px;
  height: 64px;
  padding: 26px 20px 25px 20px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  display: block;
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
}
@media screen and (min-width: 1400px) {
  .header__menu-icon {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  .header {
    width: 1140px;
    height: 62px;
    margin: 39px auto 0 auto;
  }
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 261;
}
@media screen and (min-width: 1400px) {
  .header-logo {
    border: none;
  }
}
.header-logo__img {
  display: block;
  width: 48px;
  height: 48px;
  margin: 8px 13px 8px 15px;
}
@media screen and (min-width: 1400px) {
  .header-logo__img {
    width: 60px;
    height: 60px;
    margin: 0 15px 0 0;
  }
}
@media screen and (min-width: 1400px) {
  .header-logo__text {
    width: 222px;
    height: 51px;
    margin-right: auto;
  }
}
.header-logo__name {
  margin-right: 73px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #2b292d;
}
.header-logo__descr {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header-logo__descr {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    width: 273px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 335px;
  }
}
.navigation__item {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation__item {
    display: inline;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #2b292d;
    text-decoration: none;
  }
}
.navigation__item_selected {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation__item_selected {
    display: inline-block;
    font-weight: 700;
  }
}
.navigation__arrow {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation__arrow {
    display: block;
    width: 8px;
    height: 5px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
    margin: 30px 0 auto 11px;
  }
}
.navigation__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation__button {
    display: block;
    margin-left: auto;
  }
}

.action-button {
  text-align: center;
  width: 290px;
  height: 48px;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1400px) {
  .action-button {
    font-size: 18px;
    line-height: 13px;
  }
}
.action-button:hover {
  cursor: pointer;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}
.action-button_blue {
  background-color: #3040c4;
  color: #fff;
}
@media screen and (min-width: 1400px) {
  .action-button_blue {
    width: 160px;
  }
}
.action-button_white {
  background-color: #fff;
  color: #000;
}
@media screen and (min-width: 1400px) {
  .action-button_white {
    width: 158px;
  }
}
.action-button_txt-blue {
  background-color: #fff;
  color: #3040c4;
}
@media screen and (min-width: 1400px) {
  .action-button_txt-blue {
    width: 158px;
  }
}

.audience {
  width: 100%;
  background-color: rgba(0, 161, 198, 0.07);
  padding-bottom: 35px;
}
@media screen and (min-width: 1400px) {
  .audience {
    width: 1400px;
    max-width: 1400px;
  }
}
.audience__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.audience__about {
  margin-top: 50px;
  margin-bottom: 17px;
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  text-align: center;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .audience__about {
    width: 168px;
    height: 34px;
    margin: 110px auto 12px auto;
  }
}
.audience__title {
  margin: auto 15px;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.36px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    width: 555px;
    height: 112px;
    margin: 12px auto 15px auto;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.audience__text {
  width: 290px;
  height: 136px;
  margin: 18px auto 30px auto;
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audience__text {
    width: 555px;
    height: 72px;
    margin: 15px auto 10px auto;
  }
}
.audience__buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .audience__buttons-wrapper {
    flex-direction: row;
  }
}

.audience-button_blue {
  margin: 0 auto 12px auto;
}
@media screen and (min-width: 1400px) {
  .audience-button_blue {
    margin: 14px 5px 111px auto;
  }
}
.audience-button_white {
  margin: 0 auto 40px auto;
}
@media screen and (min-width: 1400px) {
  .audience-button_white {
    margin: 14px auto 111px 5px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .cards {
    flex-direction: row;
    margin: 0 131px 75px 130px;
  }
}
.cards__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  width: 290px;
  height: 300px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  margin: 0 15px 15px 15px;
}
@media screen and (min-width: 1400px) {
  .cards__item {
    width: 262px;
    margin: auto;
  }
}
.cards__item:hover {
  background-color: rgb(49, 65, 197);
  color: #fff;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}
.cards__item:hover > .cards__capture {
  color: #fff;
}
.cards__image-container {
  max-height: 195px;
  margin: 22px auto;
}
.cards__image {
  display: block;
  max-width: 100%;
  max-height: 195px;
  margin: 22px auto;
}
.cards__capture {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 33px;
  color: #2b292d;
}

.action-button {
  text-align: center;
  width: 290px;
  height: 48px;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1400px) {
  .action-button {
    font-size: 18px;
    line-height: 13px;
  }
}
.action-button:hover {
  cursor: pointer;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}
.action-button_blue {
  background-color: #3040c4;
  color: #fff;
}
@media screen and (min-width: 1400px) {
  .action-button_blue {
    width: 160px;
  }
}
.action-button_white {
  background-color: #fff;
  color: #000;
}
@media screen and (min-width: 1400px) {
  .action-button_white {
    width: 158px;
  }
}
.action-button_txt-blue {
  background-color: #fff;
  color: #3040c4;
}
@media screen and (min-width: 1400px) {
  .action-button_txt-blue {
    width: 158px;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f3c6bd;
  padding-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline {
    position: relative;
    align-items: flex-start;
    width: 1140px;
    padding-bottom: 126px;
  }
}
.headline__content {
  margin: 35px 15px 30px 15px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    margin: 76px 0 58px 0;
    z-index: 2;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  color: #2b292d;
  margin: 0 auto 24px auto;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    margin: 0;
    margin-bottom: 34px;
    width: 754px;
    height: 165px;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
  }
}
.headline__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    width: 456px;
    height: 102px;
    margin-top: 0;
  }
}
.headline__btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  .headline__btn-wrapper {
    margin: 0;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.headline__btn_blue {
  margin-bottom: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__btn_blue {
    margin: 0;
    margin-right: 10px;
  }
}
.headline__btn_white {
  margin-bottom: 33px;
}
@media screen and (min-width: 1400px) {
  .headline__btn_white {
    margin: 0;
  }
}
.headline__banner {
  max-width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: absolute;
    right: -105px;
    top: 84px;
    width: 796px;
    height: 448px;
  }
}

.action-button {
  text-align: center;
  width: 290px;
  height: 48px;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1400px) {
  .action-button {
    font-size: 18px;
    line-height: 13px;
  }
}
.action-button:hover {
  cursor: pointer;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}
.action-button_blue {
  background-color: #3040c4;
  color: #fff;
}
@media screen and (min-width: 1400px) {
  .action-button_blue {
    width: 160px;
  }
}
.action-button_white {
  background-color: #fff;
  color: #000;
}
@media screen and (min-width: 1400px) {
  .action-button_white {
    width: 158px;
  }
}
.action-button_txt-blue {
  background-color: #fff;
  color: #3040c4;
}
@media screen and (min-width: 1400px) {
  .action-button_txt-blue {
    width: 158px;
  }
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    flex-direction: row;
    width: 1140px;
    padding: 73px 0 72px;
    margin: 0 auto;
  }
}
.order__wrapper {
  width: 100%;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order__wrapper {
    width: 1400px;
  }
}
.order__img {
  max-width: 200px;
}
@media screen and (min-width: 1400px) {
  .order__img {
    max-width: 269px;
    margin-left: 94px;
    margin-right: 122px;
  }
}
.order__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .order__content {
    align-items: flex-start;
  }
}
.order__title {
  text-align: left;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.25px;
  color: #2b292d;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .order__title {
    margin-top: 33px;
  }
}
.order__text {
  text-align: left;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #2b292d;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .order__text {
    margin-top: 12px;
    width: 555px;
    height: 64px;
  }
}
.order__email-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .order__email-wrapper {
    flex-direction: row;
    margin-top: 26px;
  }
}
.order__email {
  margin-top: 40px;
  background: #fff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  height: 48px;
  width: 290px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 13px;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin: 0;
    margin-right: 10px;
    width: 385px;
    text-align: left;
    padding-left: 15px;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
.order__button {
  margin-top: 12px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin: 0;
  }
}
.order__terms {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 1400px) {
  .order__terms {
    margin-top: 10px;
  }
}
.order__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(49, 66, 198);
}
.action-button {
  text-align: center;
  width: 290px;
  height: 48px;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1400px) {
  .action-button {
    font-size: 18px;
    line-height: 13px;
  }
}
.action-button:hover {
  cursor: pointer;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}
.action-button_blue {
  background-color: #3040c4;
  color: #fff;
}
@media screen and (min-width: 1400px) {
  .action-button_blue {
    width: 160px;
  }
}
.action-button_white {
  background-color: #fff;
  color: #000;
}
@media screen and (min-width: 1400px) {
  .action-button_white {
    width: 158px;
  }
}
.action-button_txt-blue {
  background-color: #fff;
  color: #3040c4;
}
@media screen and (min-width: 1400px) {
  .action-button_txt-blue {
    width: 158px;
  }
}

.footer {
  width: 100%;
}
.footer__descr {
  display: none;
}
@media screen and (min-width: 1400px) {
  .footer__descr {
    display: block;
    width: 360px;
    height: 85px;
    margin-top: 26px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
  }
}

@media screen and (min-width: 1400px) {
  .footer-nav {
    display: flex;
    justify-content: flex-start;
    height: 338px;
    width: 1140px;
    margin: 0 auto;
  }
}

.about-company {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid #e3e3e3;
}
@media screen and (min-width: 1400px) {
  .about-company {
    width: 360px;
    border: none;
    margin-top: 43px;
    padding: 0;
    margin-right: 126px;
  }
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .footer-logo {
    flex-direction: row;
  }
}
.footer-logo__img {
  width: 60px;
  height: 60px;
  margin-top: 43px;
}
@media screen and (min-width: 1400px) {
  .footer-logo__img {
    margin: 0;
    flex-shrink: 0;
    margin-right: 15px;
  }
}
.footer-logo__text {
  margin-bottom: 31px;
}
@media screen and (min-width: 1400px) {
  .footer-logo__text {
    margin: 0;
    width: 222px;
    height: 51px;
    margin-top: 5px;
  }
}
.footer-logo__name {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #2b292d;
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .footer-logo__name {
    margin: 0;
    text-align: left;
  }
}
.footer-logo__descr {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 1400px) {
  .footer-logo__descr {
    margin: 0;
    text-align: left;
  }
}

.downloads {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .downloads {
    justify-content: flex-start;
  }
}
.downloads__item_apple {
  display: block;
  width: 135px;
  height: 40px;
  margin-right: 10px;
}
.downloads__item_google {
  display: block;
  width: 116px;
  height: 40px;
}

.additional-nav {
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .additional-nav {
    display: flex;
    margin: 0;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1400px) {
  .additional-nav__column {
    width: 265px;
    margin-right: 29px;
  }
}

.nav-links__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin-top: 30px;
  margin-bottom: 18px;
}
@media screen and (min-width: 1400px) {
  .nav-links__title {
    margin: 0;
    margin-bottom: 18px;
  }
}
.nav-links__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-links__list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
}

.footer__line {
  display: none;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    display: block;
    width: 100%;
    border-top: 1px solid rgba(43, 41, 45, 0.1);
  }
}

.terms {
  margin-left: 15px;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .terms {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 1140px;
    height: 50px;
  }
}
.terms__links {
  width: 180px;
  height: 22px;
  display: flex;
  justify-content: space-between;
}
.terms__links-item {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}

.social-links {
  display: flex;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin: 0;
    margin-left: auto;
  }
}
.social-links__item_twitter {
  margin: 0;
  display: inline-block;
  width: 21px;
  height: 16px;
  margin-right: 20px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-twitter.png);
}
.social-links__item_facebook {
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-right: 20px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-fb.png);
}
.social-links__item_linkedin {
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-right: 2px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-linkedIn.png);
}

/*# sourceMappingURL=styles.css.map */
