@import 'breakpoints.scss';
@import 'variables.scss';

.action-button {
  width: 290px;
  height: 48px;
  text-align: center;
  border: none;
  border-radius: $button-radius;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  box-shadow: $button-shadow;

  @include for-large-up {
    font-size: 18px;
    line-height: 13px;
  }
  &:hover {
    cursor: pointer;
    box-shadow: $hover-shadow;
  }
  &_blue {
    background-color: $color-blue;
    color: $text-color-white;

    @include for-large-up {
      width: 160px;
    }
  }
  &_white {
    background-color: $color-white;
    color: $text-color-black;

    @include for-large-up {
      width: 158px;
    }
  }
  &_txt-blue {
    background-color: $color-white;
    color: $color-blue;

    @include for-large-up {
      width: 158px;
    }
  }
}
