@import 'breakpoints.scss';
@import 'variables.scss';
@import 'common.scss';

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 36px;
  background-color: $color-headline-fill;

  @include for-large-up {
    position: relative;
    align-items: flex-start;
    width: 1140px;
    padding-bottom: 126px;
  }
  &__content {
    margin: 35px 15px 30px 15px;

    @include for-large-up {
      margin: 76px 0 58px 0;
      z-index: 2;
    }
  }
  &__title {
    margin: 0 auto 24px auto;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.3125px;
    color: $text-color-primary;

    @include for-large-up {
      width: 754px;
      height: 165px;
      margin: 0;
      margin-bottom: 34px;
      font-weight: 700;
      font-size: 80px;
      line-height: 78px;
      letter-spacing: -0.5px;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: $text-color-primary;

    @include for-large-up {
      width: 456px;
      height: 102px;
      margin-top: 0;
    }
  }
  &__btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    @include for-large-up {
      flex-direction: row;
      justify-content: flex-start;
      margin: 0;
    }
  }
  &__btn_blue {
    margin-bottom: 15px;

    @include for-large-up {
      margin: 0;
      margin-right: 10px;
    }
  }
  &__btn_white {
    margin-bottom: 33px;

    @include for-large-up {
      margin: 0;
    }
  }
  &__banner {
    max-width: 100%;

    @include for-large-up {
      position: absolute;
      right: -105px;
      top: 84px;
      width: 796px;
      height: 448px;
    }
  }
}
