@import 'breakpoints.scss';
@import 'variables.scss';
@import 'common.scss';
* {
  box-sizing: border-box;
}
html {
  height: 100vh;
  font-family: 'Work Sans', sans-serif;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.top-section {
  width: 100%;

  @include for-large-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1400px;
    background-color: $color-headline-fill;
  }
}
@import 'header.scss';
@import 'audience.scss';
@import 'headline.scss';
@import 'order.scss';
@import 'footer.scss';
