@import 'breakpoints.scss';
@import 'variables.scss';
* {
  box-sizing: border-box;
}
html {
  font-family: 'Work Sans', sans-serif;
  height: 100vh;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.audience {
  max-width: 320px;
  background-color: $color-light-blue-fill;
  padding-bottom: 35px;
  @include for-large-up {
    width: 1400px;
    max-width: 1400px;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  &__about {
    margin-top: 50px;
    margin-bottom: 17px;
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;
    text-align: center;
    color: $text-color-primary;
    @include for-large-up {
      margin-top: 108px;
      margin-bottom: 24px;
    }
  }
  &__title {
    margin: auto 15px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: $text-color-primary;
    @include for-large-up {
      width: 555px;
      height: 112px;
      margin: auto;
      font-size: 56px;
      line-height: 56px;
    }
  }
  &__text {
    width: 290px;
    height: 136px;
    margin: 18px auto 30px auto;
    font-size: 24px;
    line-height: 34px;
    color: $text-color-primary;
    text-align: center;
    @include for-large-up {
      width: 555px;
      height: 72px;
      margin: 30px auto 34px auto;
    }
  }
  &__buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include for-large-up {
      flex-direction: row;
    }
  }
  // &__button {
  // }
}
.button {
  text-align: center;
  width: 290px;
  height: 48px;
  border: none;
  border-radius: $button-radius;
  font-weight: 700;

  &_blue {
    background-color: $color-blue;
    color: $text-color-white;
    margin: 30px auto 10px auto;
    @include for-large-up {
      width: 160px;
      margin: 34px 10px 111px auto;
    }
  }
  &_white {
    background-color: $color-white;
    color: $text-color-black;
    margin: 10px auto 40px auto;

    @include for-large-up {
      width: 158px;
      margin: 34px auto 111px 10px;
    }
  }
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-large-up {
    flex-direction: row;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 290px;
    height: 300px;
    border-radius: $card-radius;
    background-color: $color-white;
    cursor: pointer;
    margin: 0 15px 15px 15px;

    @include for-large-up {
      width: 262px;
    }
    &:hover {
      background-color: $card-color-blue;
      color: $text-color-white;
      > .cards__capture {
        color: $text-color-white;
      }
    }
  }
  // &__item:last-child {
  // }
  &__image-container {
    max-height: 195px;
    margin: 22px auto;
  }
  &__image {
    display: block;
    max-width: 100%;
    max-height: 195px;
    margin: 22px auto;
  }

  &__capture {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 33px;
    color: $text-color-primary;
  }
}
