@import 'breakpoints.scss';
@import 'variables.scss';
@import 'common.scss';
* {
  box-sizing: border-box;
}
html {
  font-family: 'Work Sans', sans-serif;
  height: 100vh;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-section {
  width: 100%;
  @include for-large-up {
    width: 1400px;
    background-color: #f3c6bd;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@import 'header.scss';
@import 'audience.scss';
@import 'headline.scss';
@import 'order.scss';
@import 'footer.scss';
