@import 'breakpoints.scss';
@import 'variables.scss';
@import 'common.scss';

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
  background-color: $color-order-fill;

  @include for-large-up {
    flex-direction: row;
    width: 1140px;
    margin: 0 auto;
    padding: 73px 0 72px;
  }
  &__wrapper {
    width: 100%;
    background-color: $color-order-fill;

    @include for-large-up {
      width: 1400px;
    }
  }
  &__img {
    max-width: 200px;

    @include for-large-up {
      max-width: 269px;
      margin-left: 94px;
      margin-right: 122px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-large-up {
      align-items: flex-start;
    }
  }
  &__title {
    margin: 0;
    margin-top: 40px;
    text-align: left;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.25px;
    color: $text-color-primary;

    @include for-large-up {
      margin-top: 33px;
    }
  }
  &__text {
    margin: 0;
    margin-top: 18px;
    text-align: left;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: $text-color-primary;

    @include for-large-up {
      width: 555px;
      height: 64px;
      margin-top: 12px;
    }
  }
  &__email-wrapper {
    display: flex;
    flex-direction: column;

    @include for-large-up {
      flex-direction: row;
      margin-top: 26px;
    }
  }
  &__email {
    width: 290px;
    height: 48px;
    margin-top: 40px;
    background: $color-white;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 13px;

    @include for-large-up {
      width: 385px;
      margin: 0;
      margin-right: 10px;
      padding-left: 15px;
      text-align: left;
    }
    &::placeholder {
      color: $text-color-primary;
    }
  }
  &__button {
    margin-top: 12px;
    margin-bottom: 10px;

    @include for-large-up {
      margin: 0;
    }
  }
  &__terms {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $text-color-primary_opacity;

    @include for-large-up {
      margin-top: 10px;
    }
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(49, 66, 198, 1);
  }
}
