$text-color-primary: #2b292d;
$text-color-black: #000;
$text-color-white: #fff;
$color-white: #fff;
$color-light-blue-fill: rgba(0, 161, 198, 0.07);
$color-blue: #3040c4;
$card-color-blue: #3141c5;
$button-radius: 2px;
$card-radius: 8px;
